# Ignore the static files that zola keeps regenerating
static/apple-touch-icon.png
static/favicon-16x16.png
static/favicon-32x32.png
static/favicon.svg
static/banner.png

.env
public
build
storage
node_modules
package-lock.json
static/demo.html
static/tinysearch_engine.js
static/tinysearch_engine.d.ts
static/tinysearch_engine_bg.wasm.d.ts
static/package.json
